<div class='container'>
  <div class='wrapper'>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-signup'}) do |f| %>
      <h2>Sign up</h2>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
      <%= render "devise/shared/links" %>   
    <% end %>

  </div>
</div>

