<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @name %></h1>
    <p>
    Thank you for using an NBHI certified Home Inspector! Click below to view the report for services at <%= @inspection.address %>
    </p>
      <%= link_to 'Click To View Your Home Inspection Report.', new_inspection_agreement_url(@inspection, user_type: @user_type, email: @email) %> 
    <p>
    <p>

    </p>
      If you have any questions, please don't hesitate to contact your Home Inspector.
    </p>
  </body>
</html>
