<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3> New Inspector </h3>
  </div>

  <div class='panel-body'>
    <%= form_for @user, url: create_inspector_users_path, html: {class: 'form form-signup'} do |f| %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Create", class: 'btn btn-primary btn-lg col-xs-12' %>
      </div>
    <% end %>
  </div>

</div>


