<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3> Inspectors
    <%= link_to 'Create User', new_user_path, class: 'btn btn-primary pull-right' %>
    </h3>
  </div>

  <div class='panel-body'>
    <table class='table'>
      <tr>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td> <%= user.email %> </td>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

