<div class='panel panel-default'>
  <div class='panel-heading'>
    <h2> Dashboard </h2>
  </div>

  <div class='panel-body'>
    <table class='table table-condensed'>
      <thead>
        <tr>
          <th>Month</th>
          <th>Total</th>
          <th>Avg</th>
          <th>High/Low</th>
          <th>
            <span class='hidden-xs'> Inspections </span>
            <span class='visible-xs'> Ins.. </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% (0..11).each do |i|  %>
          <% month =  i.month.ago.strftime("%B") %>
          <% inspect = @inspections.select{|ins| ins.strftime("%B") == month} %>
          <% reports = inspect.values.first || [] %>
          <tr>
            <td> <%= "#{month}" %> </td>
            <td> $<%= reports.map(&:inspection_fee).compact.sum %></td>
            <td> $<%= reports.map(&:inspection_fee).compact.sum / reports.count if reports.any? %></td>
            <td> $<%= reports.map(&:inspection_fee).compact.max || 0 %> / $<%= reports.map(&:inspection_fee).compact.min || 0%></td>
            <td><%= (reports || []).count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


