<div class='container'>
  <div class='login app'>
    <fieldset id="" class="">
      <h1>BoostInspect</h1>
      <p>Sign in to your account</p>
    </fieldset>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form'}) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      </div>

      <div class="form-group">
        <%= f.submit "Log in", class: 'btn btn-lg btn-block' %>
      </div>
    <% end %>

  </div>
</div>
