.sidebar-left {
  color: white;
  position: absolute;
  background-color: #1b2129;
  height: 100%;
  padding: 0px !important;
  z-index: 1;

  .brand {
    color: white !important;
    margin-bottom: 50px;
  }
  .nav-pills.nav-stacked li {
    .fa {
      font-size: 20px;
      margin-right: 15px;
    }

    a {
      color: #8d939b;

      font-size: 16px;

      &:hover {
        color: white;
        background-color: #1b2129;
      }
    }
  }
}

@media (min-width: 768px) {
  .nav-collapse.collapse{
    display: block !important;
    height: 100% !important;
  }
}


