<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>E-Signed Agreements</h3>
  </div>

  <div class='panel-body'>
    <table class='table'>
      <tr>
        <th>Address</th>
        <th>Date</th>
        <th>Type</th>
        <th>Email</th>
      </tr>
      <% @agreements.each do |a|  %>
        <tr>
          <td><%= a.inspection.address %> </td>
          <td><%= a.created_at.to_formatted_s(:short) %> </td>
          <td><%= a.user_type %> </td>
          <td><%= a.email %></td>
        </tr>
      <% end %>

    </table>

  </div>

</div>
