<h1> BoostInspect </h1>
<div class='col-md-6 col-md-offset-3 col-sm-12 col-xs-12'>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h3>You must agree to the terms and Conditions to view the inspection</h3>

    </div>

    <div class='panel-body'>
      <%= form_for([@inspection, @agreement], html: {class: 'form form-vertical'})  do |f| %>
        <% if @agreement.errors.any? %>
          <div class="alert alert-danger">
            <p><%= pluralize(@agreement.errors.count, "error") %> prohibited this agreement from being saved:</p>
            <ul>
              <% @agreement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <label for=" ">
          <%= f.check_box :terms %>
          I agree to the 
          <%= link_to 'Terms and Conditions', '/inspection-agreement.pdf' %>
        </label>
        <%= f.hidden_field :user_type %>
        <%= f.hidden_field :email %>

        <div class='input-group center-block'>
          <%= f.submit 'View Report', class: 'btn btn-primary btn-lg col-md-12' %>

        </div>
      <% end %> 
    </div>
  </div>

</div>

