<%= form_for(inspection, html: {class: 'form-horizontal col-md-12'}) do |f| %>
  <% if inspection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inspection.errors.count, "error") %> prohibited this inspection from being saved:</h2>

      <ul>
      <% inspection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <label for="Report Type" class='control-label'>Report Type</label>
    <div>
      <label for="" class='radio-inline'>
        <%= f.radio_button :report_type, 'new' %>
        New Report
      </label>

      <label for="" class='radio-inline'>
        <%= f.radio_button :report_type, 'update' %>
        Update BR Report
      </label>

      <label for="" class='radio-inline'>
        <%= f.radio_button :report_type, 'oops' %>
        Oops
      </label>
    </div>
  </div>

  <div class='form-group'>
    <label for="Inspection Type">Inspection Type</label>
    <div>
      <label for="" class='radio-inline'>
        <%= f.radio_button :inspection_type, 'buyer' %>
        Buyers
      </label>

      <label for="" class='radio-inline'>
        <%= f.radio_button :inspection_type, 'seller' %>
        Sellers BR
      </label>

      <label for="" class='radio-inline'>
        <%= f.radio_button :inspection_type, 'testing' %>
        E-Testing
      </label>
    </div>
  </div>

  <div class='form-group'>
    <label for=" Property Code"> Property Code <small> (Oops only) </small></label>
    <%= f.text_field :property_code, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for=" Address"> Address</label>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for="Inspection Report">Inspection Report</label>
    <%= f.file_field :report %>
  </div>

  <div class='form-group'>
    <label for=" Buyers Name"> Buyers Name</label>
    <%= f.text_field :buyers_name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for=" Buyers Phone"> Buyers Phone</label>
   <%= f.text_field :buyers_phone, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for=" Buyers Email"> Buyers Email</label>
    <%= f.text_field :buyers_email, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for="Realtors Name">Realtors Name</label>
    <%= f.text_field :realtors_name, class: 'form-control'  %>
  </div>

  <div class='form-group'>
    <label for=" Realtors Phone"> Realtors Phone</label>
    <%= f.text_field :realtors_phone, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for=""> Realtors Email</label>
    <%= f.text_field :realtors_email, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for=""> Realtors Company</label>
    <%= f.text_field :realtors_company, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for=""> Marketing Source</label>
    <%= f.text_field :realtors_company, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for=""> Paying at Closing</label>
    <div>
      <label for="">
        <%= f.radio_button :paying_at_closing, false %>
        No
      </label>
      <label for="">
        <%= f.radio_button :paying_at_closing, true %>
        Yes
      </label>
    </div>
  </div>

  <div class='form-group'>
    <label for=""> Estimated Closing Date</label>
    <%= f.date_field :estimated_closing_date, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for=""> Inspection Fee</label>
    <%= f.text_field :inspection_fee, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label for=""> Email Options</label>
    <div>
      <% Inspection::EMAIL_OPTIONS.each do |opt|  %>
        <label for="" class='checkbox-inline'>
          <%= f.check_box :email_option, {multiple: true}, opt, nil %>
          <% if opt == 'none' %>
            None
          <% else %>
            Email Report to <%= opt %>
          <% end %>
        </label>
      <% end %>
    </div>
  </div>


  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-primary col-xs-12' %>
  </div>
<% end %>
