<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1>Inspections</h1>
    <%= form_tag inspections_path, method: :get do %>
      <label for="From ">From </label>
      <%= date_field_tag :from %>
      <%= submit_tag 'Search' %>
    <% end %>
  </div>

  <div class='panel-body'>

    <table class='table'>
      <thead>
        <tr>
          <th>Address</th>
          <th>Upload Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @inspections.each do |inspection| %>
          <tr>
            <td> <%= inspection.address %> </td>
            <td> <%= inspection.created_at.to_formatted_s(:short) %> </td>
            <td><%= link_to 'Show', inspection %></td>
            <td><%= link_to 'Edit', edit_inspection_path(inspection) %></td>
            <td><%= link_to 'Destroy', inspection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Inspection', new_inspection_path, class: 'btn btn-primary' %>

  </div>

</div>




