<div class='panel panel-default'>
  <div class='panel-heading'>
    <h2>Marketing</h2>
  </div>

  <div class='panel-body'>
    <h4>Revenue</h4>
    <%= column_chart @monthly_inspections.map{ |key, val| [Date.parse(key).strftime('%b'), val[:revenue]] }, adapter: "google", library: {vAxis: {format: 'currency'}} %>
  </div>

  <div class='panel-body'>
    <h4>Inspections</h4>
    <%= column_chart @monthly_inspections.map{ |key, val| [Date.parse(key).strftime('%b'), val[:count]] }, adapter: 'google' %>
  </div>

</div>
