<div class='panel panel-default'>
  <div class='panel-heading'>
    <h2>New Inspection</h2>
  </div>

  <div class='panel-body'>
    <%= render 'form', inspection: @inspection %>
    <%= link_to 'Back', inspections_path %>
  </div>

</div>


