<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3>Realtor Activity</h3>
  </div>

  <div class='panel-body'>
    <table class='table'>
      <thead>
        <tr>
          <th>Realtor</th>
          <th>Total Referrals</th>
          <th>Last Referral</th>
        </tr>
      </thead>

      <tbody>
        <% @realtors.each do |key, val| %>
          <tr>
            <td> <%= key %> </td>
            <td><%= val[:count] %></td>
            <td><%= val[:last_referal].to_formatted_s(:short) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
