<nav class='navbar navbar-default'>
   <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <p class='navbar-btn visible-xs'>
        <%= link_to('New Report', new_inspection_path, class: 'btn btn-success btn-left-margin') %>
        <%= link_to('View Reports', inspections_path, class: 'btn btn-primary') %>
      </p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class='navbar-btn'>
            <%= link_to('New Report', new_inspection_path, class: 'btn btn-success') %>
          </p>
        </li>
        <li>
          <p class='navbar-btn '>
            <%= link_to('View Reports', inspections_path, class: 'btn btn-primary btn-left-margin') %>
          </p>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
