<div class='col-md-12 no-padding' >
  <br />
  <h3 class="text-center brand" href="#">BoostInspect</h3>

  <ul class='nav nav-pills nav-stacked' >
    <li>
      <%= link_to root_path do %>
        <i class='fa fa-home'></i>
        Home
      <% end %>
    </li>

    <li>
      <%= link_to inspections_path do %>
        <i class='fa fa-file-text'></i>
        Reports & Clients
      <% end %>
    </li>

    <li>
      <%= link_to marketing_inspections_path do %>
        <i class='fa fa-bar-chart'></i>
        Marketing
      <% end %>
    </li>
    <li>
      <%= link_to '#' do %>
        <i class='fa fa-cogs'></i>
        Supplies
      <% end %>
    </li>
    <li>
      <%= link_to agreements_path do %>
        <i class='fa fa-cogs'></i>
        E-Signed Agreements
      <% end %>
    </li>
    <li>
      <%= link_to realtors_inspections_path do %>
        <i class='fa fa-cogs'></i>
        Realtor Activity
      <% end %>
    </li>
    <% if !current_user.has_role?(:inspector) %>
      <li>
        <%= link_to users_path do %>
          <i class='fa fa-user'></i>
          Inspectors
        <% end  %>
      </li>
    <% end %>

  </ul>

  <ul class='nav nav-pills nav-stacked' >
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
      <i class='fa fa-power-off'></i>
      Logout
    <% end %>
    </li>
  </ul>
</div>
