<!DOCTYPE html>
<html>
  <head>
    <title>Homeinspector</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="screen" title="no title" charset="utf-8">

  </head>

  <body class='skin-light'>
    <div class='container-fluid no-padding'>
      <div class='col-xs-9 col-sm-9 col-md-3 sidebar-left nav-collapse collapse' id='sidebar-nav'>
        <%= render partial: 'layouts/sidebar' %>
      </div>
      <div class='col-xs-12 col-sm-12 col-md-9 col-md-offset-3 no-padding'>
        <%= render 'layouts/header' %>
      </div>
      <div class='col-xs-12 col-sm-12 col-md-9 col-md-offset-3 content'>

        <% if notice %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>

        <%= yield %>
      </div> 
    </div>


  </body>
</html>
