<!DOCTYPE html>
<html>
  <head>
    <title>Homeinspector</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='splash app'>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
