<!DOCTYPE html>
<html>
  <head>
    <title>Homeinspector</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="screen" title="no title" charset="utf-8">

  </head>

  <body class='skin-light'>
    <div class='container'>
      <div class='col-xs-12 col-sm-12 col-md-12 text-center'>

        <% if notice %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>

        <%= yield %>
      </div> 
    </div>


  </body>
</html>
